{% extends 'recipes/base.html' %}

{% block title %}Change Password | Recipe Book{% endblock %}

{% block content %}

<section class="page-header">

    <span class="section-label">
        ACCOUNT
    </span>

    <h1>Change Password</h1>

    <p>
        Update your password to keep your account secure.
    </p>

</section>


<div class="recipe-form-container password-change-container">

    <form method="post">

        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>
        {% endif %}


        <div class="form-group">

            <label>
                Current Password
            </label>

            {{ form.old_password }}

            {% if form.old_password.errors %}
                <div class="form-errors">
                    {{ form.old_password.errors }}
                </div>
            {% endif %}

        </div>


        <div class="form-group">

            <label>
                New Password
            </label>

            {{ form.new_password1 }}

            {% if form.new_password1.errors %}
                <div class="form-errors">
                    {{ form.new_password1.errors }}
                </div>
            {% endif %}

            {% if form.new_password1.help_text %}
                <div class="form-help">
                    {{ form.new_password1.help_text }}
                </div>
            {% endif %}

        </div>


        <div class="form-group">

            <label>
                Confirm New Password
            </label>

            {{ form.new_password2 }}

            {% if form.new_password2.errors %}
                <div class="form-errors">
                    {{ form.new_password2.errors }}
                </div>
            {% endif %}

        </div>


        <div class="form-actions">

            <button
                type="submit"
                class="primary-button"
            >
                Change Password
            </button>

            <a
                href="{% url 'recipe_list' %}"
                class="secondary-button"
            >
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}
